<!-- Bottom Nav -->
  <!--FOOTER-->
<footer><nav class="navbar fixed-bottom navbar-light" style="background-color:#610B21; color:lightcoral; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <h6 class="display-9"><i class="fas fa-arrow-circle-right"></i> Keep Moving Forward  </h6>
</nav></footer>