<!-- 
  Assignment 1 & 2
  Author: Michelle Fajardo
  SN: 301097601
  SEC: 05
  DATE: OCT. 26, 2020
-->

<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#610B21;">
  <a class="navbar-brand" href="#"><i class="fas fa-dice-d20"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home"><i class="fas fa-laptop-code nav-link active"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="far fa-question-circle nav-link active"></i> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects"><i class="fas fa-tasks nav-link active"></i> Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact-list"><i class="fas fa-address-book nav-link active"></i> Business Contact List </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services"><i class="fas fa-chalkboard-teacher nav-link active"></i> Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="fas fa-comment nav-link active"></i> Contact Us </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments-dollar nav-link active"></i> OTHERS</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.instagram.com/michie.x96/">Instagram</a>
          <a class="dropdown-item" href="https://github.com/mfajarad/">GitHub</a>
          <a class="dropdown-item" href="https://www.linkedin.com/in/michelle-fajardo-3526a4153/">LinkedIn</a>
        </div>
      </li>
    </ul>
  </div>
</nav>