<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!--MAIN-->
  <main class="container">
    "<div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><i class="fas fa-arrow-circle-right"></i> <%= title %> </h1>
      </div>
    </div>
  </main>

<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>